<div style="padding: 0.5rem">
  <div
    style="display: flex; flex-direction: row; align-items: center; gap: 1rem"
  >
    <a href="/"><---- zpět</a>
    <h1>TUDŮČKO</h1>
  </div>

  <br />

  <div id="todo_detail"><%- include('_todo') %></div>

  <script>
    const ws = new WebSocket('ws://localhost:3000');

    ws.addEventListener('message', (event) => {
      const data = JSON.parse(event.data);
      const path = window.location.pathname.match(/todo\/(\d+)/);
      const { id, isDeleted, type, html } = data;

      if (type !== 'todo' || !path) return;

      const todoId = path[1];
      const doesIdMatch = Number(todoId) === id;

      if (!doesIdMatch) return;

      if (isDeleted) {
        alert('Tohle todo bylo smazáno.');
        window.location.href = '/';
        return;
      }

      document.getElementById('todo_detail').innerHTML = html;
    });
  </script>
</div>
